*{/*Novo*/
    margin: 0;/*Novo*/
    padding:0;/*Novo*/
} /*Novo*/

.cabecalho{
    background-color: rgb(230, 220, 25);
    color:aqua;
    display: flex;
    justify-content: space-around; 
    padding: 240px 0;
    font-size: 50px;
}

.cabecalhoListaItem{
    display:inline-block;
    margin: 0 12px;
    padding: 5px 0; 
}