*{
    margin: 0;
    padding:0;
}

.cabecalho{
    background-color: rgb(230, 220, 25);
    color:aqua;
    display: flex;
    justify-content: space-around; 
    padding: 24px 0;
    font-size: 15px;
}

.cabecalhoListaItem{
    display:inline-block;
    margin: 0 12px;
    padding: 5px 0; 
}