.cabecalho{
    background-color: rgb(230, 220, 25);
    color:aqua;
    display: flex;
    justify-content: space-around; 
    padding: 240px 0; /*Novo*/
    font-size: 50px; /*Novo*/
}

.cabecalhoListaItem{ /*Novo*/
    display:inline-block; /*Novo*/
    margin: 0 120px; /*Novo*/
    padding: 78px 0; /*Novo*/
}